.option {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.option:hover {
  opacity: 1;
}

#options-container .option p {
  margin-bottom: 0;
}

.correct {
  background-color: #ffffff;
  font-weight: bold;
}

.wrong {
  background-color: darkred;
  opacity: 0.5;
}

.hide {
  display: none;
}
